# Introduction to Python for Data Science

## Tipe Data

Tipe Data :
-	Integers : bilangan bulat
-	Floating : bilangan yang menggunakan decimal point
-	String : karakter atau kumpulan karakter
-	Boolean : True atau False

### Integers

In [19]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [20]:
#ival adalah suatu variabel, variabel : menampung value
ival = 123123123123123123123123123123123123123123123123 + 1

In [21]:
varabcde = 10

In [22]:
print(varabcde)

10

In [23]:
print(ival)

123123123123123123123123123123123123123123123124

In [24]:
type(ival)

int

### Floating-Point Numbers

In [25]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

### Strings

In [26]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [27]:
print('') #string bisa kosong

In [28]:
#agar tidak error jika ada karakter " atau '
print("This string contains a single quote (') character.")
print('This string contains a single quote (") character.')
print("This string contains a single quote (\") character.")
print('This string contains a single quote (\') character.')

This string contains a single quote (') character.
This string contains a single quote (") character.
This string contains a single quote (") character.
This string contains a single quote (') character.

### Boolean

In [29]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [30]:
n = 100

In [31]:
print(n)

100

In [32]:
n

100

In [33]:
x = y = z = 1000
print(x, y, z)

1000 1000 1000

## Variabel Names

Penamaan variabel :
- Ada tujuan dan mudah dimengerti
- huruf, baik huruf besar maupun huruf kecil
- karakter hanya garis bawah (_)
- dapat berisi angka, tetapi angka tidak boleh menjadi karakter pertama

In [34]:
name = "Hacktiv8"
Age = 84
_hasLaptop = True
print(name, Age, _hasLaptop)

Hacktiv8 84 True

In [35]:
9_nama = "kosong" #tidak boleh diawali dengan angka

SyntaxError: invalid decimal literal (2395250207.py, line 1)

Metode Penamaan Variabel : 
harus konsisten
- Camel Case : kata kedua dan selanjutnya diakpitalisasi. contoh : numberOfCollege
- Pascal Case : setiap kata diawali huruf kapital. contoh : NumberOfCollege
- Snake Case : setiap kata dipisahkan dengan underscore. contoh : number_of_college

## Operators dan Expressions in Python

In [ ]:
a = 10
b = 20
a + b
#print(a + b)

30

In [ ]:
a = 10
b = 20
a + b - 5

25

### Basic Arithmetic Operation

- (+)  => penjumlahan
- (-)  => pengurangan
- (*)  => perkalian
- (/)  => pembagian (float)
- (//) => pembagian (floor)
- (%)  => modulo
- (**) => perpangkatan

In [ ]:
print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)
print(5 // 2)
print(5 % 2)
print(5 ** 2)

7
3
10
2.5
2
1
25

### Operator Penugasan

- Pengisian     =
- Penjumlahan   +=
- Pengurangan   -=
- Peerkalian    *=
- Pembagian     /=
- Sisa bagi     %=
- Perpangkatan   **=

In [ ]:
x = 10
y = 20
x += y      # x = x + y
print(x)

30

### Comparison Operators

- Lebih besar                       >
- Lebih kecil                       <
- Sama dengan                       ==
- Tidak sama dengan                 !=
- Lebih besar atau sama dengan      >=
- Lebih kecil atau sama dengan      <=

In [ ]:
a = 10
b = 20
print(a == b)
print(a < b)
print(a > b)

False
True
False

### Operator Logika

- Logika AND : and (semuanya harus benar, benar)
- Logika OR : or (salah satu harus benar, benar)
- Negasi/kebalikan : not

In [ ]:
a = False
b = True

c = a and b
print(c)

c = a or b
print(c)

c = not a
print(c)

False
True
True

### Operator Ternary

Operator ternary juga dikenal dengan operator kondisi karena digunakan untuk membuat sebuah ekspresi kondisi seperti percabangan IF/ELSE

Operator ternary tidak ada dalam Python tetapi Python mempunyai cara lain untuk menggantikan operator ini yaitu dengan menggunakan IF/ELSE dala satu baris

In [ ]:
umur = input("berapa umur kamu?")
print(type(umur))
aku = "anak" if int(umur) <= 10 else "dewasa"
print(aku)
#int(umur) untuk casting type data variabel umur yang awalnya str menjadi int

<class 'str'>
anak

## String Manipulation

In [ ]:
# + Operators untuk menggabungkan
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [ ]:
# * Operators untuk duplikasi

s = 'foo.'

print(s * 4)

print(58*"=")

foo.foo.foo.foo.
==========================================================

In [ ]:
# in Operators untuk mengecek apakah ada 'sesuatu' di dalam suatu data 

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [ ]:
# Case Conversion
s = 'HackTIv8'

# Lower
print(s.lower())

# Uppercase
print(s.upper())

# Swapcase
print(s.swapcase()) # menukar huruf besar dan huruf kecil

s = "hadapi dengan senyuman"
# Capitalize
print(s.capitalize()) # huruf kapital untuk huruf pertama

s = "badai pasti berlalu"
# Title
print(s.title()) # huruf kapital untuk huruf pertama setiap kata

hacktiv8
HACKTIV8
hACKtiV8
Hadapi dengan senyuman
Badai Pasti Berlalu

## Python Lists

List adalah kumpulan objek yang arbitrary
List mirip dengan array
List didefinisikan dalam Python dengan menyertakan sequence object yang dipisahkan dengan tanda koma dalam tanda kurung siku ([])

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)
print(type(a))

['foo', 'bar', 'baz', 'qux']
<class 'list'>

Karakteristik dari list Python :
- List disiapkan
- List dapat berisi objek sembarang (tersiri dari berbagai macam type)
- Elemen dapat diakses dengan menggunakan indeks
- List dapat dimasukkan ke kedalaman yag bebas
- List bisa berubah
- List bersifat dinamis

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
c = ['foo', 'bar', 'baz', 'qux']

print(a == b)

print(a == c)
# nilai untuk posisi tiap indeks harus sama

False
True

### List can contain any arbitrary objects
Sebuah list dapat berisi bermacam-macam objek. Elemen dari List semuanya bisa berjenis sama

In [ ]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List element can be accessed by index
Elemen individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku

Hal ini sama persis dengan mengakses karakter individu dalam sebuah string

Indeks dimulai dari 0

In [ ]:
listA = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(listA[5])
print(listA[-1])

corge
corge

In [ ]:
# List Elements

print(listA[0])
print(listA[2])

print(listA[6])

foo
baz

IndexError: list index out of range

In [ ]:
# List Elements

print(listA[-6])
print(listA[-7])

foo

IndexError: list index out of range

#### Slicing
Slicing bisa digunakan untuk mengambil bagian dari suatu list

Jika listA adalah list, maka
 ekspresi : 
 listA[m:n] akan mengembalikan porsi/bagian listA dari indeks m ke indeks n (tetapi nilai indeks n tidak termasuk)

In [ ]:
listA = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

listA[1:4] # indeks 1 sampai 3

['bar', 'baz', 'qux']

In [ ]:
listA[0:2]

['foo', 'bar']

In [ ]:
listA[:3] # dari awal samapi indeks 2

['foo', 'bar', 'baz']

In [ ]:
listA[3:] # dari indeks 3 sampai akhir

['qux', 'quux', 'corge']

In [ ]:
# The concatenation (+) and replication (*) operators :

print(listA)

print(listA + ['grault', 'garply'])

print(listA * 2) # yang direplikasi hanya 'foo' sampai 'corge' atau dengan kata lain hanya listA sesuai yang dideklarasikan di awal karena penambahan tadi tidak ditampung/disimpan dalam suatu variabel

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
print(listA)

listA = listA + ['grault', 'garply']

print(listA)

print(listA * 2) # yang direplikasi dari 'foo' sampai 'garply' atau dengan kata lain sesuai dengan listA terbaru

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [ ]:
# len(), min(), max()

listB = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(listB)
print(len(listB))
print(min(listB))
print(max(listB))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

Fungsi Python max() digunakan untuk menemukan nilai terbesar dalam daftar nilai

Fungsi Python min() digunakan untuk menemukan nilai terendah dalam daftar

Daftar nilai dapat berisi string atau angka

In [ ]:
listNilai = [10, 12, 20, 5, 40, 15]

print(min(listNilai))
print(max(listNilai))
print(min(10, 20, 1))

5
40
1

### Modifying a Single List Value

Suatu nilai dalam list dapat diganti dengan pengindeksan dan assignment seederhana

In [ ]:
lstX = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(lstX)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
lstX[2] = 100
print(lstX)

In [ ]:
lstX = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
lstX[-1] = 10
print(lstX)

['foo', 'bar', 'baz', 'qux', 'quux', 10]

In [ ]:
# A list item can be deleted with the del command :

del lstX[3] # menghapus index ketiga : qux

print(lstX)

['foo', 'bar', 'baz', 'quux', 10]

### Modifying Multiple List Values
Jika ingin mengubah beberapa elemen yang bersebelahan dalam list sekaliggus

Python memungkinkan hal ini dengan slice, dengan sintaks sebagai berikut

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:3])

['bar', 'baz']

In [ ]:
a[1:3] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'qux', 'quux', 'corge']

### List

In [ ]:
# Operator In

buah = ['apel', 'jeruk', 'durian', 'mangga', 'rambutan']

print('jeruk' in buah)

True

In [ ]:
print('nangka' in buah)

False

In [ ]:
# Mencari indeks

buah.index('mangga')

3

In [ ]:
buah.index('anggur')

ValueError: 'anggur' is not in list

In [ ]:
# Menambahkan
buah.append('jeruk')
print(buah)

['apel', 'jeruk', 'durian', 'mangga', 'rambutan', 'jeruk']

In [ ]:
# ditemukan nama yang sama maka yang diambil yang pertama
buah.index('jeruk')

1

In [ ]:
# mengahpus menggunakan indeks
del buah[1]
print(buah)

['apel', 'durian', 'mangga', 'rambutan', 'jeruk']

In [ ]:
# menghapus menggunakan value
buah.remove('mangga')
print(buah)

['apel', 'durian', 'rambutan', 'jeruk']

In [ ]:
# Sorting list
buah.sort()
print(buah)

['apel', 'durian', 'jeruk', 'rambutan']

In [ ]:
# Menyalin list

listx = ['c', 'd', 'a']
listy = listx # menyalin alamat pointer, seperti ngelink, satu alamat
print(listy)

['c', 'd', 'a']

In [ ]:
listy[0] = 'a'
print(listy)

['a', 'd', 'a']

In [ ]:
print(listx) # listx juga ikut berubah, karena address variabelnya sama

['a', 'd', 'a']

In [ ]:
# menyalin dapat diatasi dengan copy

import copy
list1 = copy.copy(listx)
print(list1)
list1[0] = 'x'
print(listx)
print(list1)

['a', 'd', 'a']
['a', 'd', 'a']
['x', 'd', 'a']

## Python Tuples

Python menyediakan tipe lain dari kumpulan objek yang beruurutan, disebut tuple

### Defining and Using Tuples

Tuples identik dengan list, kecuali dalam hal berikut :
- Tuples didefinisikan dengan mengapit elemen dalam tanda kurung(()), bukan kurung siku([])
- Tuples tidak bisa diubah

In [ ]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [ ]:
print(t[0])

foo

In [ ]:
print(t[-1])

corge

In [ ]:
t[0] = "fee"
print(t) # nilai elemen tidak bisa diubah

TypeError: 'tuple' object does not support item assignment

In [ ]:
# packing and unpacking
# jumlah variabel harus sesuai dengan jumlah elemen
(s0, s1, s2, s3, s4, s5) = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(s0)

foo

In [ ]:
# jumlah variabel tidak sesuai dengan jumlah elemen
(s0, s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

ValueError: too many values to unpack (expected 5)

## Python Dictionary

Dictionaries and lists share the following characteristics :
- Kedua bisa berubah
- Kedua dinamis, bisa ditambahkan dan dikurangi sesuai kebutuhan
- Keduanyadapat bersarang. Sebuah list dapat berisi list lain. Dictionary dapat berisi Dictionary lain. Dictionary juga adapat berisi List, dan sebaliknya


Dictionary berbeda dari list terutama dalam cara elemen diakses 
- Elemen list dakses berdasarkan psoisinya dalam list, melalui pengindeksan
- Elemen Dictionary diakses melalui key

Dictionaries adalah implementasi associative array dan  identik dengan key-value, key dan value dipisahkan dengan tanda titik dua (:), setiap pasangan key-value dipisahkan dengan tanda koma (,)

### Accessing Dictionary Values
Sebuah nilai diambil dari dictionary dengan menentukan kunci yang sesuai dalam tanda kurung siku ([])

In [36]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners' 
}

In [37]:
print(MLB_team)
print(MLB_team["Boston"])
print(MLB_team["Seattle"])
print(MLB_team["milwaukee"])

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
Red Sox
Mariners

KeyError: 'milwaukee'

In [38]:
MLB_team["Boston"] = "Redsox"

print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Redsox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [39]:
person = {}
type(person)

dict

In [40]:
person['fname'] =  "Ni Made"
person["lname"] = 'Kirei'
person['age'] = 45
person["children"] = ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah']
person['pets'] = [{'keysArr' : ['ath', 'atl', 'circulatingSupply'], 'Dog' : 'Jumba'}]
person["skill"] = {"programming" : ['Java', 'Golang', 'Python', 'Solidity'],
                    "database" : {"nosql" : ['MongoDb', 'Neo4J'], "rdbms" : ["MySQL", "PostgresSQL", "Oracle"]}}

In [41]:
print(person)

{'fname': 'Ni Made', 'lname': 'Kirei', 'age': 45, 'children': ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah'], 'pets': [{'keysArr': ['ath', 'atl', 'circulatingSupply'], 'Dog': 'Jumba'}], 'skill': {'programming': ['Java', 'Golang', 'Python', 'Solidity'], 'database': {'nosql': ['MongoDb', 'Neo4J'], 'rdbms': ['MySQL', 'PostgresSQL', 'Oracle']}}}

In [42]:
# agar lebih rapi gunakan pprint
import pprint
pprint.pprint(person)

{'age': 45,
 'children': ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah'],
 'fname': 'Ni Made',
 'lname': 'Kirei',
 'pets': [{'Dog': 'Jumba', 'keysArr': ['ath', 'atl', 'circulatingSupply']}],
 'skill': {'database': {'nosql': ['MongoDb', 'Neo4J'],
                        'rdbms': ['MySQL', 'PostgresSQL', 'Oracle']},
           'programming': ['Java', 'Golang', 'Python', 'Solidity']}}

In [43]:
person["status_menikah"] = True

In [44]:

# agar tampilan lebih bagus eketika di print : menggunakan json
import json
print(json.dumps(person, sort_keys = False, indent = 4))

{
    "fname": "Ni Made",
    "lname": "Kirei",
    "age": 45,
    "children": [
        "Yusuf",
        "Sulaiman",
        "Ibrahim",
        "Fatimah"
    ],
    "pets": [
        {
            "keysArr": [
                "ath",
                "atl",
                "circulatingSupply"
            ],
            "Dog": "Jumba"
        }
    ],
    "skill": {
        "programming": [
            "Java",
            "Golang",
            "Python",
            "Solidity"
        ],
        "database": {
            "nosql": [
                "MongoDb",
                "Neo4J"
            ],
            "rdbms": [
                "MySQL",
                "PostgresSQL",
                "Oracle"
            ]
        }
    },
    "status_menikah": true
}

In [45]:
print(person['fname'])
print(person['lname'])

Ni Made
Kirei

In [46]:
print(person['children'])
print(person['children'][2])

['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah']
Ibrahim

In [47]:
print(person['skill']['database'])

{'nosql': ['MongoDb', 'Neo4J'], 'rdbms': ['MySQL', 'PostgresSQL', 'Oracle']}

In [48]:
print(person['skill']['database']['rdbms'])

['MySQL', 'PostgresSQL', 'Oracle']

In [49]:
print(person['skill']['database']['rdbms'][1])

PostgresSQL

In [50]:
# Built-in Methods
d = {'a' : 10, 'b': 20, 'c' : 30}
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [52]:
# items 
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [53]:
# keys
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [54]:
# values
print(d.values())

dict_values([10, 20, 30])

### Line Continuation
Digunakan untuk suatu pernyataan Python yang sangat panjang dan memiliki assignment dengan banyak terms

In [57]:
person1_age = 42
person2_age = 16
person3_age = 72

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <=65) 
#kondisi sangat panjang

someone_is_of_working_age

True

In [59]:
#penulisan kondisi dipermudah
someone_is_of_working_age = ((person1_age >= 18 and person1_age <= 65) or
                            (person2_age >= 18 and person2_age <= 65) or
                            (person3_age >=18 and person3_age <= 65)
                            )

someone_is_of_working_age

True

## Casting
Merubah tipe data (dari satu tipe data ke tipe data lain)

In [60]:
# float

data_float = 10.2
print("data : ", data_float, "Tipe data : ", type(data_float))

data :  10.2 Tipe data :  <class 'float'>

In [62]:
# Casting float
# float -> integer
data_int = int(data_float)
# float -> string
data_str = str(data_float)
# float -> boolean
data_bool = bool(data_float)

print("Data : ", data_int, " Tipe data : ", type(data_int))
print("Data : ", data_str, " Tipe data : ", type(data_str))
print("Data : ", data_bool, " Tipe data : ", type(data_bool)) # boolean selain 0 itu True, 0 => False

Data :  10  Tipe data :  <class 'int'>
Data :  10.2  Tipe data :  <class 'str'>
Data :  True  Tipe data :  <class 'bool'>

In [63]:
# Integer

data_int = 0
print("Data : ", data_int, " Tipe data : ", type(data_int))

Data :  0  Tipe data :  <class 'int'>

In [65]:
# Casting integer
# integer -> float
data_float = float(data_int)
# integer -> string
data_str = str(data_int)
# integer -> boolean
data_bool = bool(data_int)

print("Data : ", data_float, " Tipe data : ", type(data_float))
print("Data : ", data_str, " Tipe data : ", type(data_str))
print("Data : ", data_bool, " Tipe data : ", type(data_bool)) # boolean selain 0 itu True, 0 => False

Data :  0.0  Tipe data :  <class 'float'>
Data :  0  Tipe data :  <class 'str'>
Data :  False  Tipe data :  <class 'bool'>

In [71]:
# Boolean

data_bool = False #change to True
print("Data : ", data_bool, " Tipe data : ", type(data_bool))

Data :  False  Tipe data :  <class 'bool'>

In [72]:
# Casting bool
data_int = int(data_bool)
data_str = str(data_bool)
data_float = float(data_bool)

print("Data : ", data_int, " Tipe data : ", type(data_int))
print("Data : ", data_str, " Tipe data : ", type(data_str))
print("Data : ", data_float, " Tipe data : ", type(data_float))

Data :  0  Tipe data :  <class 'int'>
Data :  False  Tipe data :  <class 'str'>
Data :  0.0  Tipe data :  <class 'float'>

In [86]:
# String

data_str = "10.5" 
print("Data : ", data_str, " Tipe data : ", type(data_str))

Data :  10.5  Tipe data :  <class 'str'>

In [89]:
# Casting str
data_bool = bool(data_str) 
data_int = int(float(data_str))
data_float = float(data_str)

print("Data : ", data_bool, " Tipe data : ", type(data_bool))
print("Data : ", data_int, " Tipe data : ", type(data_str))
print("Data : ", data_float, " Tipe data : ", type(data_float))

Data :  True  Tipe data :  <class 'bool'>
Data :  10  Tipe data :  <class 'str'>
Data :  10.5  Tipe data :  <class 'float'>

In [90]:
text = "Belajar Python di Hacktiv8."

print(list(text))
print(tuple(text))
print(set(text))

['B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'H', 'a', 'c', 'k', 't', 'i', 'v', '8', '.']
('B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'H', 'a', 'c', 'k', 't', 'i', 'v', '8', '.')
{'d', 'a', 'j', 'h', ' ', 'k', 'e', 't', '8', 'B', '.', 'y', 'n', 'l', 'i', 'v', 'c', 'o', 'P', 'H', 'r'}